{% extends 'base.html' %}

{% block content %}
  <main role="main" class="inner cover">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></div>
        {% endfor %}
    </ul>
    {% endif %}
    {% if msg %}
    <div class="alert alert-success">
      <strong>{{msg}}</strong>
    </div>
    {% endif %}
    <h1 class="cover-heading">Treasure Hunt</h1>
    <p class="lead">
      Treasure hunt web app.<br> It is in a &beta; state. There may be bugs here and there. <br> The demo is for testing and feedback purposes.  
    </p>
    <p>- By linpaws</p>
    <p class="lead">
      <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-lg btn-secondary">Login with Facebook</a>
    </p>
  </main>
{% endblock %}
