{% extends 'base.html' %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h1>RULES</h1>
          </div>
      </div>
      <div class="row text-left">
          <div class="col-12">
              <ul>
                  <li>
                    There are three questions as of now. Each question has a max score of 100.
                  </li>
                  <li>Answers contain only alphabets, digits and spaces.</li>
                  <li>
                    There are two types of hint available for each question: Normal hints and Bonus hints.
                    <ul>
                        <h3>Normal Hints</h3>
                        <li>There are four normal hints.</li>
                        <li>There is no mark deduction for using normal hints.</li>
                        <h3>Bonus Hints</h3>
                        <li>There are two bonus hints available.</li>
                        <li>Using First bonus hints costs you 10 points and second 20 points.</li>
                    </ul>
                  </li>
                  <li>If you attempt more than 10 times in a duration of 2 minutes, you will be timed out.</li>
                  <li>Only one simultaneous session is allowed per user.</li>
                  <li>Ranking is sorted by level, then score and then according to your latest succesful submission time.</li>
                </ul>
              Enjoy!
          </div>
      </div>
  </div>
{% endblock %}
