{% extends 'base.html' %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h1>RULES</h1>
          </div>
      </div>
      <div class="row text-left">
          <div class="col-12">
              <ul>
                  <li>Each question has a maximum score of 100.</li>
                  <li>
                    Each question has some hints that are going to help you to solve them.
                  </li>
                  <li>Your score is affected by the number of people who have already solved the question
                      <ul>
                          <li>If more than 60 people then your score is affected by 8 points.</li>
                          <li>If more than 40 but less than or 60 people then your score is affected by 6 points.</li>
                          <li>If more than 20 people but less than or 40 people then your score is affected by 3 points.</li>
                          <li>If you are among first twenty to solve a question, no deduction.</li>
                      </ul>
                  </li>
                  <li>If you attempt more than 30 times in a duration of 2 minutes, you will be timed out.</li>
                  <li>Only one simultaneous session is allowed per user.</li>
                  <li>Ranking is sorted by level, then score and then according to your latest succesful submission time.</li>
                  <li>Some questions may require extra hints, those hints will be posted on <a target="_blank" style="color:#17c394" href="https://www.facebook.com/smashandleapVersion/">SMASH AND LEAP, VERSION 2018, NIT TRICHY</a> Facebook Page.</li>
                </ul>
                <strong style="text-align:center;color:#17c394">May the force be with you!</strong>
          </div>
      </div>
  </div>
{% endblock %}
