{% extends 'base.html' %}
{% block content %}
<div class="loader">
    <img src="https://sal.version18.in/static/img/loader.gif"/>
</div>
  <div class="container game-container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Hello {{ username }}!</h2>
        </div>
        <div class="col-sm-12 col-md-6">
            <h3><strong>Level : </strong><span id="level">{{ level }}</span></h3>
        </div>
        {% if messages %}
        <div class="col-sm-12 col-md-12">
            <ul class="messages">
                {% for message in messages %}
                <div
                {% if message.tags %}
                    {% if message.tags == 'error' %}
                        class ="alert alert-danger"
                    {% else %}
                        class="alert alert-{{ message.tags }}"
                    {% endif %}
                {% endif %}><strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="success col-sm-12 text-center">
        </div>
        <div class="error col-sm-12 text-center">
        </div>
      </div>
    <div class="row question">
        <div class="col-sm-12 col-md-12 center-align">
            {% if question.ques_type == "audio" %}
                <audio controls="controls" id="aud-ques" src="{{ question.link }}">
                    Your browser does not support audio element.
                </audio>
            {% endif %}
            {% if question.ques_type == "video" %}
                <video controls="controls" id="vid-ques" src="{{ question.link }}">
                    Your browser does not support video element.
                </video>
            {% endif %}
            {% if question.ques_type == "image" %}
                <img class="img-responsive" id="img-ques" src="{{ question.link }}"/>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <form method = "POST" id="ansform" action = '.'>
                {% csrf_token %}
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        {{form.answer}}
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <button class="btn btn-info button" type='submit'>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </main>
  <div class="container hint-container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-8">
            <h1>Hints</h1>
        </div>
        <div class="col-sm-12 col-md-4">
            <button class="btn btn-primary hint-btn">Get Hint</button>
        </div>
        <div class="col-sm-12" id="hint_box">
        </div>
        <div class="col-sm-12" id="results"></div>
    </div>
</div>
{% endblock %}

{%block custom_js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}